.permanence {
    text-align: center;
    justify-content: center;
    font-family:'Helve-Bold', Arial, sans-serif;
    margin-top: 30px;
    color: black;
    font-size: 22px;
}
.permanence2 {
    text-align: center;
    justify-content: center;
    font-family:'Helve-Bold', Arial, sans-serif;
    margin-top: 30px;
    color: black;
    font-size: 22px;
}
.contenedor1 {
    position: relative;
}
.barra-traslado {
    list-style-type: none;
    text-align: center; 
    font-family:'Times New Roman', Times, serif; 
    display: flex;
    text-align: center; 
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
body {
    margin: 0px;
}

.titulos-p {
    display: block;
}
.estilo-titulos {
    text-align: center;
    font-family:'Helve-Bold', Arial, sans-serif; text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 40px;
}

.item-desktop {
    font-family:'Helve-Bold', Arial, sans-serif;
    font-size: small;
}
.desktop-l {
    text-decoration: none;
    color: black;
    margin-right: 30px;
}
.desktop-nav-item {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}
.desktop-nav-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

.desktop-nav-item:hover::before {
    opacity: 1;
  }
.subtitulos-ig {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-family:'Helve-Bold', Arial, sans-serif;
    font-size: x-small;
    cursor:pointer
}
.bandatop {
    padding-top: 0px;
    line-height: 32px;
    margin-top: 0px;
}
.barra-superior {
    color: aliceblue;
    background-color: black;
 }
.barra-movimiento {
    font-family: 'Helve-Bold', Arial, sans-serif;
    font-size: small;
    margin-right: 50px;
}

.container-fluid {
    background-color: #000;
}
.navbar-brand {
    font-family:'Helve-Bold', Arial, sans-serif;
    font-size: 16px;
}
.horarios-tit {
    display: block;
}
.horarios-sub {
    text-align: center;
    font-family: "Montserrat";
    font-size: small;
    margin-top: 48px;
    margin-bottom: 48px;
}
.cont-mail {
    display: flex; 
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}
.subcont-mail {
    font-family: 'Helve-Bold', Arial, sans-serif;
    font-size: small;
}
.alinear {
    display: flex; 
    margin: 20px 15px 40px 15px;
}
.email1 {
    width: 65%;
    padding: 8px 8px;
    border: none;
    background-color: rgb(206, 206, 207); 
    font-size: 12px;
}
.suscrib-e {
    padding: 8px 8px; 
    border: none; 
    background-color: black; 
    color: white;
    width: 45%;
    font-size: 12px;
}
.suscrib-e:hover {
    background-color:white;
    cursor: pointer;
    color: black;
    border: 2px solid ;
    border-color: black;
}
.texto-pf {
    padding-inline-start: 16px;
    margin-bottom: 8px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 0px;
    text-align: justify;
}
.subtitulos-pf {
    text-align: center;
    margin-bottom: 32px; 
    margin-top: 32px; 
    font-size: 14PX; 
    font-family: Arial, Helvetica, sans-serif;
}
.centrar-cc {
    margin-left: 48px;
    margin-right: 48px;
    padding-right: 200px;
    padding-left: 200px;
}
.pagos {
    padding-left: 32px;
    padding-right: 16px;
}
.centrado-texto {
    margin-bottom: 8px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 0px;
    text-align: center;
}
.envios-t {
    text-align: center;
    font-family:'Helve-Bold', Arial, sans-serif;
    margin-top: 16px;
    margin-bottom: 16px; 
    display: block; 
    font-size:small;
}
.envios-seccion {
    padding-top: 8px; 
    margin: 0px;
}
.listacentrada {
    padding-right: 20px;
}
.footer {
    width: 101%;
    background-color: white;
    font-family: 'Helve-Bold', Arial, sans-serif;
    font-size: small;
    color: black;

}
.footer-g1 {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
}
.imagen-footer {
    justify-content: left;
    padding-right: 100px;
}
.box {
    margin-left: 64px;
    margin-right: 64px;
}
.column-f {
    display: flex;
    flex-direction: column;
}
.footer-direction {
    text-decoration: none;
    color: black;
    padding: 8px;
}
.footer-g2 {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 8px; 
    justify-content: center;
    display: block;
}
.inicio {
    text-align: center;
    justify-content: center;
    margin-bottom: 64px;
}
.gif-fw {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Helve-Bold', Arial, sans-serif;
    ;font-size: small;
    margin-bottom: 30px;
}
.subtitulo-shop {
    text-align: center;
    font-size: 15px;
    font-family: 'Helve-Bold', Arial, sans-serif;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 35px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 20px;
}
.productos:hover {
    cursor: pointer;
}
.productos {
    width: 100%;
    height: 70%;
    object-fit:cover;
}
.ropa-item {
    text-align: center;
    color: black;
}
.info {
    padding-top: 30px;
    font-family: 'Helve-Regular', Arial, sans-serif;
    font-size: 14px;
}
.info2 {
    padding-top: 4px;
    font-family: 'Helve-Regular', Arial, sans-serif;
    font-size: 15px;
}
.navbar {padding: 0px;}
.media-container {
    padding-bottom: 40px;
}
.dropdown:hover .dropdown-menu {
    display: block;
  }

.dropdown-menu {
    display: none;
  }
.guia-talles {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

.fotos-gt {
    width: 500px;
    height: 600px;
    margin: 15px; 
    border: 1px solid black
  }
  

@media (max-width:800px) {
    .footer-g1 {
        display: flex;
        flex-direction: column; 
    }
    .box {
        margin: 32px;
    }
    .grid-container { 
        display: flex;
        flex-direction: column;
    }
    .productos {
        width: 80%;
        height: 50%;
    }
    .item-desktop {
        font-size: x-small;
    }
    .imagen-footer {
        padding: 0px;
        justify-content: center;
    }
    .subcont-mail {
        font-size: xx-small;
    }
    .email1 {
        font-size: xx-small;
        width: 55%;

    }
    .email2 {
        font-size: x-small;

    }
    .imagen-inicio1 {
        width: 70%;
        height: 400px;
    }
    .gif-fw {
        width: 100%;
        height: 600px;
        padding: 0px;
    }
    .foto-d {
        height: 600px;
    }      
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        width: 80%;
        margin: 10px;
    }
      
    .dropdown:hover .dropdown-menu {
        display: block;
    }
      
    .desktop-nav-item {
        border-bottom: 1px solid black;
        text-align: center;
        padding: 3px;
    }
      
    .desktop-nav-item:last-child {
        border-bottom: none;
    }
      
    .desktop-nav-item::before {
        display: none;
    }
      
    .subtitulos-ig {
        font-size: xx-small;
    }
    .fotos-gt {
        width: 250px;
        height: 350px;
        margin: 10px; 
        border: 1px solid black
    }
    .texto-pf {
        padding-inline-start: 12px;
        margin-bottom: 8px;
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        margin-top: 0px;
        text-align: justify;
    }
    .subtitulos-pf {
        text-align: center;
        margin-bottom: 28px; 
        margin-top: 28px; 
        font-size: 10PX; 
        font-family: Arial, Helvetica, sans-serif;
    }
    .centrar-cc {
        margin-left: 32px;
        margin-right: 32px;
        padding-right: 120px;
        padding-left: 120px;
    }
    .pagos {
        padding-left: 32px;
        padding-right: 16px;
    }
    .centrado-texto {
        margin-bottom: 16px;
        margin-left: 40px;
        margin-right: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        margin-top: 0px;
        text-align: center;
    }
    .envios-t {
        text-align: center;
        font-family:'Helve-Bold', Arial, sans-serif;
        margin-top: 16px;
        margin-bottom: 16px; 
        display: block; 
        font-size:small;
    }
    .envios-seccion {
        padding-top: 8px; 
        margin: 0px;
    }
    .listacentrada {
        padding-left: 20px;
        padding-right: 20px;  
    }
    .estilo-titulos {
        text-align: center;
        font-family:'Helve-Bold', Arial, sans-serif; text-transform: uppercase;
        margin-top: 32px;
        margin-bottom: 32px;
        font-size: 14px;
    }  
}

@media   (max-width:500px){
.barra-traslado {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.desktop-l {
    margin: 15px ;
    text-align: center;
    font-size: xx-small;
}
.item-desktop {
    margin: 15px;
}
.barra-traslado {
    padding: 0px;
    margin: 0px;
}
.subtitulo-shop {
    margin-top: 20px;
}
.foto-d {
    height: 450px;
}
.footer-g2 {
    font-size: 10px;
}
.footer-direction {
    font-size: 11px;
}
.dropdown {
    display: flex;
    justify-content: center; 
    align-items: center;
}
.dropdown-menu {
    width: 50%;
    margin: 8px;
    padding: 2px;
}
.dropdown {
    display: block;
    text-align: center;
  }

.dropdown-menu {
    position: static;
    margin: 10px auto;
  }

.desktop-nav-item {
    display: block;
    margin-bottom: 0px;
  }

.item-desktop:nth-last-child(2) {
    margin-bottom:15px;
  }
.subtitulos-ig {
    font-size: 8px
}
.gif-fw {
    width: 100%;
    height: 450px;
}
.fotos-gt {
    width: 250px;
    height: 450px;
    margin: 15px; 
    border: 1px solid black
  }
  .texto-pf {
    padding-inline-start: 12px;
    margin-bottom: 12px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    margin-top: 0px;
    text-align: justify;
}
.subtitulos-pf {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
}
.centrar-cc {
    margin-left: 12px;
    margin-right: 16px;
    padding-right: 60px;
    padding-left: 50px;
}
.pagos {
    padding-left: 28px;
    padding-right: 14px;
}
.centrado-texto {
    margin-bottom: 16px;
    margin-left: 40px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    margin-top: 0px;
    text-align: center;
}
.envios-t {
    text-align: center;
    font-family:'Helve-Bold', Arial, sans-serif;
    margin-top: 16px;
    margin-bottom: 16px; 
    display: block; 
    font-size:  9px;;
}
.envios-seccion {
    padding-top: 8px; 
    margin: 0px;
}
.listacentrada {
    padding-left: 20px;
    padding-right: 20px;  
}
.estilo-titulos {
    text-align: center;
    font-family:'Helve-Bold', Arial, sans-serif; text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 30px;
    font-size: 12px;
}  
.guia-talles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
@media (max-width:400px) {
    .fotos-gt {
        width: 230px;
        height: 350px;
        margin: 8px; 
        border: 1px solid black;
      }
      .subcont-mail {
        font-size: xx-small;
    }
    .email1 {
        font-size: xx-small;
        width: 60%;

    }
    .email2 {
        font-size: xx-small;
}
}
