@import "tipografias.scss";
@import "colores.scss";
@import "taamaño.scss";

@mixin center {
    text-align: center;
    justify-content: center;
}
@mixin column {
    display: flex;
        flex-direction: column
}
.permanence {
    @include center;
    font-family: $arial;
    margin-top: 30px;
    color: $primary-color;
    font-size: 22px;
}
.contenedor1 {
    position: relative;
}
.barra-traslado {
    @include center;
    list-style-type: none;
    font-family:'Times New Roman', Times, serif; 
    display: flex;
    margin-bottom: 40px;
    margin-top: 30px;
}
body {
    margin: 0px;
}

.titulos-p {
    display: block;
  }
  
.estilo-titulos {
    text-align: center;
    font-family: $arial;
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 40px;
}
  
.subtitulos-pf {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 32px;
    font-size: 14px;
    font-family: $arial;
}
  
.centrar-cc {
    margin-left: 48px;
    margin-right: 48px;
    padding-right: 200px;
    padding-left: 200px;
}
  
.texto-pf {
    padding-inline-start: 16px;
    margin-bottom: 8px;
    margin-left: 60px;
    font-family: $arial;
    font-size: 14px;
    margin-top: 0px;
    text-align: justify;
}
  
.envios-seccion {
    padding: 16px 0;
}
  
.listacentrada {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.item-desktop {
    font-family:$arial;
    font-size: $s;
}
.desktop-l {
    text-decoration: none;
    color: $primary-color;
    margin-right: 30px;
}
.desktop-nav-item {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: $primary-color;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}
.desktop-nav-item:hover::before {
    opacity: 1;
  }
.subtitulos-ig {
    text-decoration: none;
    color: $primary-color;
    padding: 15px;
    font-family:$arial;
    font-size: x-small;
    cursor:pointer
}

.bandatop {
    padding-top: 0px;
    line-height: 32px;
    margin-top: 0px;
}
  
.barra-superior {
    color: $secondary-color;
    background-color: $primary-color;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-bottom: 10px;
}
  
.marquee-container {
    display: inline-block;
    position: relative;
    animation: marquee 20s linear infinite;
}
  
.barra-movimiento {
    font-family: "Helve-Bold", Arial, sans-serif;
    font-size: small;
    /* Ajustamos el espaciado entre frases */
    padding-right: 50px;
}
  
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}

.container-fluid {
    background-color: $primary-color;
}
.navbar-brand {
    font-family: $arial;
    font-size: 16px;
}
.horarios-tit {
    display: block;
}
.horarios-sub {
    text-align: center;
    font-family: "Montserrat";
    font-size: $s;
    margin-top: 48px;
    margin-bottom: 48px;
}
.cont-mail {
    @include center;
    display: flex; 
    padding-top: 35px;
}
.subcont-mail {
    font-family: $arial;
    font-size: $s;
}
.alinear {
    display: flex; 
    margin: 20px 15px 40px 15px;
}
.email1 {
    width: 65%;
    padding: 8px 8px;
    border: none;
    background-color: $white-cream; 
    font-size: 12px;
}
.suscrib-e {
    padding: 8px 8px; 
    border: none; 
    background-color: $primary-color; 
    color: white;
    width: 45%;
    font-size: 12px;
    &:hover {
        background-color:white;
        cursor: pointer;
        color: $primary-color;
        border: 2px solid ;
        border-color: $primary-color;
    }
}
.pagos {
    padding-left: 32px;
    padding-right: 16px;
}
.centrado-texto {
    margin-bottom: 8px;
    margin-left: 60px;
    font-family: $arial;
    font-size: 14px;
    margin-top: 0px;
    text-align: center;
}
.email-texto {
    font-family: $arial;
    font-size: 16px;
    color: $primary-color;
    text-decoration: underline;
    cursor: pointer;
  
    &:hover {
      color: darken($primary-color, 10%);
    }
}
.envios-t {
    text-align: center;
    font-family: $arial;
    margin-top: 16px;
    margin-bottom: 0px; 
    display: block; 
    font-size: $s;
}
.footer {
    width: 101%;
    background-color: white;
    font-family: $arial;
    font-size: $s;
    color: $primary-color;

}
.footer-g1 {
    @include center;
    display: flex;
    border: 1px solid $primary-color;
    padding-top: 30px;
    padding-bottom: 30px;
}
.imagen-footer {
    justify-content: center;
}
.box {
    margin-left: 64px;
    margin-right: 64px;
}
.column-f {
    @include column;
}
.footer-direction {
    text-decoration: none;
    color: $primary-color;
    padding: 8px;
}
.footer-g2 {
    @include center;
    padding-top: 16px;
    padding-bottom: 8px; 
    display: block;
}
.inicio {
    @include center;
    margin-bottom: 64px;
}
.gif-fw {
    @include column;
    align-items: center;
    justify-content: center;
    font-family: $arial;
    ;font-size: $s;
    margin-bottom: 30px;
}
.subtitulos-c {
    text-align: center;
    font-size: 15px;
    font-family: $arial;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 35px;
}
#productoDestacadoCarousel {
    margin-top: 20px;
    background-color: $primary-bg-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 20px;
  
    .carousel-item {
      .container {
        .row {
          justify-content: center;
  
          .col-md-4 {
            display: flex;
            justify-content: center;
  
            img {
              max-width: 100%;
              max-height: 300px; 
              border-radius: 5px;
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
  }
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    padding-bottom: 0px;
    grid-gap: 20px;
}
.productos {
    width: 100%;
    height: 70%;
    object-fit:cover;
    &:hover { 
        cursor: pointer;
    }
}
.ropa-item {
    text-align: center;
    color: $primary-color;
}
.info {
    padding-top: 30px;
    font-family: $arial;
    font-size: 14px;
}
.info2 {
    padding-top: 4px;
    font-family: $arial;
    font-size: 15px;
}
.navbar {padding: 0px;}
.media-container {
    padding-bottom: 40px;
}
.dropdown:hover .dropdown-menu {
    display: block;
  }

.dropdown-menu {
    display: none;
  }
.guia-talles {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

.fotos-gt {
    width: 500px;
    height: 600px;
    margin: 15px; 
    border: 1px solid black
  }
.logo-p {
    width: 40%;
    height: 30%;
}

@import "mediaqueries";
